<nav class="navbar navbar-expand-sm justify-content-end">
    <div class="container">
        <a class="navbar-brand mr-auto" href="{{ .Site.BaseURL }}">
            <ion-icon name="home"></ion-icon>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{ if .Site.Menus.main }}
                    {{ range sort .Site.Menus.main }}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ .URL }}">{{ .Name | upper }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
