html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: $page-border;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  border-bottom: $page-border;
}

a {
  color: $base-light;
  text-decoration: none;

  &:hover {
    color: $base-dark;
  }
}

.content {
  padding: 0 32px;
}

#{headings()} {
  margin: 20px 0 10px;
  font-weight: 500;
}
