// Colors
$base-lighter: #7F82B2;
$base-light: #555794;
$base: #333577;
$base-dark: #1A1C59;
$base-darker: #090A3B;

$accent-light: #D4B96A;
$accent: #AA8D39;
$accent-dark: #806415;

// Borders
$page-border: 5px solid $base;
